.container {
  padding: 0 2vw;
}

.paper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2vw;
}

.counter {
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10vw;
  font-weight: bold;
  padding: 1rem 0;
}

.btnGroup {
  width: 100%;
}
