@import "~font-awesome/css/font-awesome.css";
@import "./styles/open-sans.css";
@import "./styles/roboto.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #212121;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
